<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board1.model.BoardDAO">
<select id="getArticles" resultType="bvo" parameterType="pvo">
    SELECT * FROM 
	(SELECT ROWNUM RN, A.* FROM 
	(SELECT BNO, BREF, BSTEP, BLEVEL,READCOUNT,
	SUBJECT, CONTENT, WRITER, REGDATE, IP, PASSWD
    FROM BOARD_LIST 
    ORDER BY BREF DESC, BNO, BLEVEL) A )            	           
	WHERE RN BETWEEN #{start} AND #{end}
</select>

<select id="getTotArticleCnt" resultType="int">
	SELECT COUNT(BNO) FROM BOARD_LIST
</select>

<insert id="writePro" parameterType="bvo">
  	<selectKey keyProperty="nbno" resultType="int" order="BEFORE">
		SELECT NVL(MAX(BNO), 0)+1 FROM BOARD_LIST
	</selectKey>
	
	INSERT INTO BOARD_LIST(BNO, BREF, BSTEP, BLEVEL, READCOUNT,
				SUBJECT, CONTENT, WRITER, REGDATE, IP, PASSWD)
	VALUES(#{nbno},
	  <choose>
	  	<when test="bref == null or bref == 0">
	  		#{nbno}, 0, 0,
	  	</when>
	  	<otherwise>
	  		#{bref}, #{bstep}+1, #{blevel}+1,
	  	</otherwise>
	  </choose>	
		#{readcount},#{subject},#{content},#{writer},TO_CHAR(SYSDATE,'YYYY/MM/DD(HH:MM:SS)'),#{ip},#{passwd})
</insert>

<select  id="getContent" parameterType="int" resultType="bvo">
	SELECT * FROM BOARD_LIST WHERE BNO = #{bno}
</select>

<update id="updatePro" parameterType="bvo">
	UPDATE BOARD_LIST SET SUBJECT=#{subject}, CONTENT=#{content}, WRITER=#{writer},
	REGDATE=TO_CHAR(SYSDATE, 'YYYY/MM/DD(HH:MM:SS)'), PASSWD=#{passwd}, IP=#{ip}
	WHERE BNO=#{bno}
</update>

<delete id="deletePro" parameterType="int">
	DELETE FROM BOARD_LIST WHERE BNO = #{bno}
</delete>

</mapper>